body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    color: #5b9b9b;
    font-size: 3.5rem;
    margin: 0 auto 0 auto;
    line-height: 2;
}
h2{
    font-size: 2rem;
    color: #457575;
    margin: 0 auto 0 auto;
    font-weight: normal;
}
h3{
    font-size: 1.5rem;
    color: #457575;
}
a{
    color: #44bbbb;
    text-decoration: none;
    text-shadow: 0 0 3px #000000;
}
a:hover{
    color: #5bebeb;
}
p{
    color: #313d3b;
    font-size: 1rem;
}
hr{
    border: dotted 6px #cae4db;
    border-bottom: none;
    width: 4%;
    margin-bottom: 7.5%;
}

/* Top Container */
.top-container{
    padding-top: 10%;
    background-color: #cae4db;
    position: relative;
}
.top-cloud{
    width: 15%;
    position: absolute;
    right: 25%;
    top: 5%;
}
.bottom-cloud{
    width: 15%;
    position: absolute;
    top:40%;
    left: 20%;
}
.mountain{
    width: 50%;
}
.pro{
    text-decoration:underline;
}

/*Middle Container*/
.middle-container{
    background-color: #cdac81;
}
.profile{
    padding-top: 3rem;
    margin-bottom: 2rem;
}
.profile-picture{
    margin: 2rem auto 2rem auto;
}
.introduction{
    text-align: center;
    margin: auto 25% 4rem 25%;
    line-height: 2;
}
.skills{
    margin-top: 2rem;
    margin-bottom: 0;
}
.skill-one{
    float: left;
    width: 25%;
    margin-right: 5%;
}
.skill-two{
    float: right;
    width:25%;
    margin-left: 5%;
}
.skill-row{
    width: 50%;
    margin: 5rem auto 8rem auto;
    text-align: left;
    line-height: 2;
}
.contact-me{
    margin-top: 2rem;
    padding-bottom: 3rem;
}
.BUTTON_RWQ {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    font-family: Arial;
    width: 125px;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 0 0 5px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 2rem auto 3rem auto;
}
 .BUTTON_RWQ:hover {
    border: solid #FFFFFF 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 
/*Bottom Container*/
.bottom-container{
    background-color: rgb(49, 80, 49);
    padding-top: 2rem;
    color:  #cae4db;
    line-height: 2;
}
.copyright{
    font-size: 14px;
    color:  #cae4db;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-shadow: 0 0 4px #000000;
}